html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.2;
  background-color: rgb(255, 255, 255);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50% 50% 50% 50%);
  margin: -1px;
}
.navigation {
  justify-content: space-between;
  align-items: baseline;
  padding: 23px 0 60px;
}

.flex-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo-link {
  font-size: 29px;
  font-family: "Montserrat", sans-serif;
  color: rgb(149, 225, 211);
  font-weight: 700;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 490px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.main-menu-item {
}

.main-menu-link {
  position: relative;
  color: rgb(149, 225, 211);
  transition: all 0.2s ease-out;
}

.main-menu-link:hover,
.main-menu-link:focus {
  color: rgb(243, 129, 129);
  padding-bottom: 12px;
}

.main-menu-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 26px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(243, 129, 129);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.main-menu-link:hover::after,
.main-menu-link:focus::after {
  opacity: 1;
  visibility: visible;
}
.section-flex {
  flex-direction: column;
  align-content: center;
}
.second-title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 64px;
}

.title-span {
  display: block;
  margin-bottom: 14px;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  text-align: center;
  text-transform: initial;
}

.second-title:after {
  display: block;
  content: "";
  height: 3px;
  width: 60px;
  margin: 34px auto 0px;
  background-color: rgb(243, 129, 129);
}

.services {
  padding: 60px 0px 38px;
}

.servisces-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services-item {
  width: 375px;
  padding: 0px 0px 0px 80px;
  background-repeat: no-repeat;
  background-position: 20px 2px;
}

.services-item:nth-last-of-type(n + 4) {
  margin-bottom: 96px;
}

.services-item-photo {
  background-image: url(../img/alarm.png);
}

.services-item-design {
  background-image: url(../img/graph.png);
}

.services-item-creativity {
  background-image: url(../img/computer.png);
}

.services-item-seo {
  background-image: url(../img/book.png);
}

.services-item-css {
  background-image: url(../img/home.png);
}

.services-item-digital {
  background-image: url(../img/foto.png);
}

.tree-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}

.team {
  padding: 50px 0px 78px;
}

.team-second-title {
  margin-bottom: 40px;
}

.team-paragraph {
  margin: 0px auto 90px;
  width: 980px;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-card {
  width: 380px;
}
.card-tree-title,
.card-paragraph {
  text-align: center;
}

.card-tree-title {
  margin-bottom: 7px;
}

.overlay-container {
  position: relative;
}

.team-image {
  box-shadow: 0px 0px rgb(149, 225, 211);
  transform: translate(0px, 0px);
  transition: all 0.2s linear;
  margin-bottom: 28px;
}

.overlay-container:focus,
.overlay-container:hover .team-image {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px rgb(149, 225, 211);
}

.overlay,
.overlay-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translate(0px, 0px);
  transition: all 0.2s linear;
}

.overlay {
  background: linear-gradient(rgb(252, 227, 138), rgb(243, 129, 129));
}

.overlay-container:focus,
.overlay-container:hover .overlay {
  visibility: visible;
  opacity: 0.9;
  transform: translate(-10px, -10px);
}

.overlay-container:focus,
.overlay-container:hover .overlay-list {
  visibility: visible;
  opacity: 1;
  transform: translate(-10px, -10px);
}

.overlay-link {
  display: block;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(252, 227, 138);
  opacity: 1;
  transition: all 0.2s linear;
}

.overlay-link:hover {
  background-color: rgb(149, 225, 211);
}

.overlay-item:nth-last-of-type(n + 2) {
  border-right: 1px solid rgba(252, 227, 138, 0.5);
}

.overlay-link-facebook {
  background-image: url(../img/facebook.png);
}

.overlay-link-twitter {
  background-image: url(../img/twitter.png);
}

.overlay-link-pinterest {
  background-image: url(../img/pinterest.png);
}

.overlay-link-instagram {
  background-image: url(../img/instagram.png);
}

.footer-container {
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0px 11px;
  border-top: 1px solid #e5e5e5;
}

.footer-link {
  color: #f38181;
}

.footer-form {
  display: flex;
}

.footer-input {
  height: 40px;
  width: 230px;
  outline: none;
  text-transform: lowercase;
  border: 1px solid #e7e7e7;
  padding: 0px 12px 0px 12px;
}

.footer-input::placeholder {
  font-size: 14px;
  font-weight: 300;
  text-transform: initial;
  font-family: "Roboto", sans-serif;
}

.footer-botton {
  display: block;
  height: 40px;
  width: 150px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #95e1d3;
  border: none;
}
